*{
  z-index: 3;
  --bg-color: rgb(55, 55, 55);
}

body{
  /* font-family: "Mynerve", cursive; */
  /* font-family: "Righteous", cursive; */
  font-family: 'Phudu', cursive;
  background-color: rgb(70, 70, 70);
  color: white;
  height: 100vh;
  min-height: 100%;
}

.navbar * {
  font-size: 30px;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: rgb(188, 188, 188);
}

.active-link{
  color:rgb(161, 171, 192);
}

.active-link:hover{
  color:rgb(123, 129, 141);
}

.navbar-nav * {
  margin-right: 25px;
}

.title{
  margin-left: 15vw;
}

.title-text{
  font-size: 100px;
}

#logs > div{
  margin-top: 20px;
  transition: scale 500ms;
}

#logs > div:hover{
  scale: 1.01;
}

#logs *{
  color: black;
}

p.log-text{
  margin-left: 20px;
}

#revealer{
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 50%;
  translate: -50% -50%;
  z-index: -100;
}

#reveal-text{
  position: absolute;
  margin-left: 18vw;
  z-index: 2;
  width: 5000px;
}

#top-background{
  z-index: -3;
  margin-top: -150px;
  height: 160px;
  width: 5000px;
  background-color: var(--bg-color);
}

#left-background{
  z-index: -3;
  height: 160px;
  width: 18vw;
  background-color: var(--bg-color);
}

#right-background{
  z-index: -3;
  height: 160px;
  margin-top: -170px;
  margin-left: 900px;
  width: 60vw;
  background-color: var(--bg-color);
}

#bottom-background{
  z-index: -3;
  margin-top: -50px;
  height: 5000px;
  width: 5000px;
  background-color: var(--bg-color);
}

.footer{
  margin-top: -50px;
}